@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"), url(./assets/fonts/sofiapro-light.otf);
}

@font-face {
  font-family: "Cavier";
  src: url(./assets/fonts/Calvier.ttf);
}

body {
  background-color: #00150f;
  overflow-x: hidden;
}


